/*
RED COLOR
*/

.red {
    background: #f16f5c;
}
.red:hover {
    background: #e73827;
}

.red_gradient {
    background: #f16f5c;
    background: -moz-linear-gradient(top, #f16f5c 0%, #e73827 100%);
    background: -webkit-linear-gradient(top, #f16f5c 0%, #e73827 100%);
    background: -o-linear-gradient(top, #f16f5c 0%, #e73827 100%);
    background: -ms-linear-gradient(top, #f16f5c 0%, #e73827 100%);
    background: linear-gradient(to bottom, #f16f5c 0%, #e73827 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16f5c', endColorstr='#e73827', GradientType=0 );
}

.red_gradient:hover {
    background: #e73827;
    background: -moz-linear-gradient(top, #e73827 0%, #f16f5c 100%);
    background: -webkit-linear-gradient(top, #e73827 0%, #f16f5c 100%);
    background: -o-linear-gradient(top, #e73827 0%, #f16f5c 100%);
    background: -ms-linear-gradient(top, #e73827 0%, #f16f5c 100%);
    background: linear-gradient(to bottom, #e73827 0%, #f16f5c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73827', endColorstr='#f16f5c', GradientType=0 );
}

.border_input_red {
    border: 1px solid #f16f5c;
}