@import "css/colors/blue.css";
@import "css/colors/yellow.css";
@import "css/colors/red.css";
@import "css/colors/green.css";
@import "css/colors/orange.css";

.paginate_links {
    margin: 2px;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.paginate_input {
    width: 24px;
    padding: 6px;
    height: 16px;
    border-radius: 5px;
    margin: 0 1px;
}

.paginate {
    width: 100%;
}

.alignment_paginate_left {
    text-align: left;
}
.alignment_paginate_center {
    text-align: center;
}
.alignment_paginate_right {
    text-align: right;
}